<div class="wrapper">

    <form class="form">

        <h2 class="form__title">Log in</h2>

        <div class="boxes">

            <input class="boxes__field" type="email" id="email" placeholder=" " autocomplete="off">

            <label class="boxes__label" for="email">Email</label>

            <span class="boxes__line"></span>
        </div>

        <div class="boxes">

            <input class="boxes__field" type="password" id="password" placeholder=" " autocomplete="off">

            <label class="boxes__label" for="password">Password</label>

            <span class="boxes__line"></span>
        </div>

        <button class="submit__btn" type="submit">Log in</button>

    </form>

</div>